/* Adaugat de mine pentru overflow: */
html,
body {
  overflow-x: hidden;
}

/* Popup 18 ani: */
/* Overlay */
#ageModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.wine-name-mobile {
  display: none;
}

/* Popup box */
#ageBox {
  background: #ffffff;
  padding: 40px;
  max-width: 400px;
  width: 90%;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);

  transform: scale(0.9);
  opacity: 0;
  transition: all 0.3s ease;
}

/* Active state */
#ageModal.active {
  display: flex;
}

#ageModal.active #ageBox {
  transform: scale(1);
  opacity: 1;
}

/* Buttons */
.age-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  transition: 0.2s ease;
}

.age-yes {
  background: #16a34a;
  color: white;
}

.age-yes:hover {
  background: #15803d;
}

.age-no {
  background: #dc2626;
  color: white;
}

.age-no:hover {
  background: #b91c1c;
}

/* Blochează scroll */
body.modal-open {
  overflow: hidden;
}

.hero-bg {
  background-image:
    linear-gradient(rgba(106, 27, 44, 0.75), rgba(34, 10, 15, 0.9)),
    url(Gallery/bkground.jpg);
  height: 500px;
}

.briar-brown {
  background-color: #490f1c; /* rosu vin inchis */
  margin: 0;
  padding: 0;
}

.briar-light {
  background-color: #6a1b2c; /* rosu rubiniu */
}

.briar-dark {
  background-color: #3b0d19; /* visiniu foarte inchis */
}

.text-briar {
  color: #6a1b2c;
}

.border-briar {
  border-color: #6a1b2c;
}

#pipe_img {
  width: 40px;
}

#signature {
  height: 3rem;
}

#first-page-logo-container {
  text-align: -webkit-center;
  padding-bottom: 2rem;
}

.menu_text {
  font-size: 1.5rem;
}

.btn {
  margin: 5px;
}

.btn:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.center-div {
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.product_image {
  width: 200px;
}

.product-images-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
}

#bigSpecsDiv {
  padding: 0 2rem 2rem 2rem;
}

#specsDiv {
  background-color: rgb(245, 220, 215);
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 2rem; */
  /* gap: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
  border-radius: 20px;
  padding: 1.5rem;
}

#story-img-div {
  width: auto;
}

#story-txt-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

#story {
  display: flex;
  justify-content: space-around;
}

#our-story-image {
  height: 70vh;
}

.small-image {
  width: 150px; /* Dimensiune fixă pentru imaginile mici */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 5px;
  margin: 5px;
}

.small-image:hover {
  transform: scale(1.1); /* Efect de zoom pe hover pentru imagini mici */
}

#large-image {
  border-radius: 1rem;
  max-width: 70vw;
}

.large-image-container {
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
}

.itemDescription {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 1rem 0 1rem;
  /* text-indent: 30px; */
}

.specText {
  color: #523934;
}

.rightSpecsText,
.middleSpecsText {
  padding-left: 7rem;
}

.storyParagraphContainer {
  padding-right: 30px;
}

.buttons-align {
  display: flex;
  justify-content: space-evenly;
}

#product-div {
  display: flex;
  justify-content: center;
}

.fullImage {
  width: 50%; /* Imagine mare care se întinde pe toată lățimea containerului */
  height: auto;
  display: block;
  margin: 0 auto;
}

#large-image {
  width: 50%;
}

.normalImage {
  width: 50vw;
}

#logo {
  width: 300px;
  margin-top: 3rem;
}

p {
  font-size: 16px;
  padding: 10px;
}

#bigDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#mainDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  /* max-width: 800px; */
  max-width: 70vw;
  padding-bottom: 10px;
  gap: 10px;
}

.card {
  color: black;
}

footer {
  margin-bottom: 50px;
  color: white;
}

/* Desters daca nu merge: */
#gallery-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 coloane */
  gap: 2rem;
}

#gallery-div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
}

#gallery-div img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#gallery-div h3,
#gallery-div p {
  font-size: 1rem;
  margin: 0.5rem 0;
  text-align: center;
}

#gallery-div a.btn {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  display: inline-block;
  text-align: center;
  margin: 0.5rem auto;
}

.icon-and-text {
  display: flex;
  align-items: center;
}

.icon-and-text img {
  margin: 0 1.5rem 0 0.5rem;
}

@media only screen and (max-width: 750px) {
  footer {
    font-size: small;
    margin-bottom: 100px;
  }

  #gallery-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 coloane */
    gap: 2rem;
  }

  #first-page-logo-container {
    /* height: 50vh; */
  }

  .wine-name-mobile {
    display: inline;
    font-size: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  #logo {
    width: 40%;
  }

  #mainDiv {
    max-width: 90vw;
  }

  .itemDescription {
    font-size: 1rem;
  }

  .fullImage {
    width: 100vw;
  }

  #large-image {
    width: 100vw;
  }

  .product-images-div {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 1rem 0 1rem 0;
  }

  #bigSpecsDiv {
    text-align: center;
  }

  .rightSpecsText,
  .middleSpecsText {
    padding-left: 0;
  }

  #specsDiv {
    padding: 1rem;
  }

  .small-image {
    width: 100px;
  }

  .storyParagraphContainer {
    padding-right: 0;
  }

  .hero-bg {
    background-image:
      linear-gradient(rgba(106, 27, 44, 0.75), rgba(34, 10, 15, 0.9)),
      url(Gallery/m_bkground.jpg);
    background-size: cover; /* umple toată zona definită */
    background-position: center; /* centrează imaginea */
    background-repeat: no-repeat;
    height: 50vh;
  }

  /* De sters daca nu merge: */
  #gallery-div {
    gap: 1rem;
  }

  #gallery-div > div {
    width: 100%; /* asigură dimensiuni vizibile */
  }
}

/* hover doar pe dispozitive cu mouse */
@media (hover: hover) and (pointer: fine) {
  .group:hover .product-overlay {
    opacity: 1;
  }
}

/* Incercare dezactivare long press pe imagine pe mobil */
img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;
  user-select: none;
}
